Initialization for client certificate verification in openssl

When implementing server-side client certificate authentication in openssl using MHD_OPTION_HTTPS_MEM_TRUST the server doesn't send any server certificate request to the client and the client doesn't know that he shall send back any client certificate.
After adding a function call into MHD_TLS_openssl_set_context_trust_certificate() the request including the trust CA is being sent to the client as expected.

`SSL_CTX_add_client_CA (context->d.openssl.context, cert))`

I don't know if `SSL_CTX_add_extra_chain_cert (context->d.openssl.context, cert)`
is needed additionally or if it can be deleted.

[openSSL documentation](https://www.openssl.org/docs/man1.0.2/ssl/SSL_CTX_add_client_CA.html)
[thread on stack overflow](https://stackoverflow.com/questions/21050366/testing-ssl-tls-client-authentication-with-openssl)

After all further testing showed that the server sends the certificate request to the client and that my statement above is incorrect!
Nevertheless a test with
`openssl s_client -connect <ip-address>:443 -state`
states 
`No client certificate CA names sent`

With the proposed SSL_CTX_add_client_CA() included the test states
`Acceptable client certificate CA names ...`

The openSSL documentation says:
`int SSL_CTX_add_client_CA(SSL_CTX *ctx, X509 *cacert);
 adds the CA name extracted from cacert to the list of CAs sent to the client when requesting a client certificate for ctx.`

From [RFC 5246 Section 7.4.4 Certificate Request](https://tools.ietf.org/html/rfc5246#section-7.4.4):
`certificate_authorities`
`     A list of the distinguished names [X501] of acceptable
      certificate_authorities, represented in DER-encoded format.  These
      distinguished names may specify a desired distinguished name for a
      root CA or for a subordinate CA; thus, this message can be used to
      describe known roots as well as a desired authorization space.  If
      the certificate_authorities list is empty, then the client MAY
      send any certificate of the appropriate ClientCertificateType,
      unless there is some external arrangement to the contrary.
`

So adding SSL_CTX_add_client_CA() is optional but useful for the clients to know which client certificates the server accepts.

Hello. First, thank you for your clear report!

I also had a look at the RFC and I have the same conclusion as you have. I also compared with the GnuTLS implementation, and the CA name is sent in this case. I think for consistency, and as it does not hurt anyway, the OpenSSL implementation should call the the CA function you mentioned above.

I found a modified version of MHD for Android which does exactly what you mentioned. It calls `SSL_CTX_add_client_CA()`, and does not call `SSL_CTX_add_extra_chain_cert()` at all.

I read the documentation of `SSL_CTX_add_extra_chain_cert()` again. What I understand is that it allows to add certificates to complete the server or client certificate chain (depending on the role you're playing) when sending your certificate to the peer. In the case of MHD, this is useless as we pass the server certificate and optionally intermediate/root certificates as a bundle to the HTTPS_MEM_TRUST option.

What I understand is that the `SSL_CTX_add_client_CA()` just adds the certificate name to the list of CAs sent to the client, not the certificate itself.

Although I have used both functions  `SSL_CTX_add_client_CA()` and `SSL_CTX_add_extra_chain_cert()` here I always end up in having `unable to get local issuer certificate` error when connecting via HTTPS to the server and sending an client certificate appropriate to the configured CA. This leads to a certificate verification failed result ergo handshake termination.

So we are missing here something. What I often read on the internet is that `SSL_CTX_load_verify_locations()` shall be used - but we are not really working with files aren't we?
I gave also `SSL_CTX_set_default_verify_paths()` a try without success.

Regarding the client certificate verification, I'm a little worried OpenSSL does not allow to check against in-memory CA certificates which would be set in the SSL context or session. By default, it seems to use CA certificates stored in the filesystem only. But I have to dig more to really understand how it works.

I stored in the certificate passed to the HTTPS_MEM_TRUST option in a file and called `SSL_CTX_load_verify_locations(ctx, path, NULL)`. This works!

Now I have to find a way to use a IN-MEMORY certificate chain instead.

Yes I can confirm that `SSL_CTX_load_verify_locations(ctx, path, NULL)` works if I create a directory and place the CA in PEM format there.
If I try to use `SSL_CTX_load_verify_locations(ctx, path, CAfile)` so that it uses exactly this one file than it fails. After debugging I found that openSSL 1.0.2n always tries to load a CRL if the format is PEM, otherwise it tries to load a certificate. Well...
I will also try further to figure out how to load a certificate in PEM into the STORE.

Got it!
`X509_STORE_add_cert(context->d.openssl.context->cert_store, cert)` works for me :-)

Wow!! I did not see this function. I spent hours inspecting header files and source code and I missed that. I was working on a very complex solution which becomes a single function call thanks to you. Thanks a lot!

By the way, I'm also improving how trust certificates and server certificates. Presently, I parse a single certificate but the option may contain multiple certificates, typically a certificate chain. This allows to pass a certificate and all the parent issuers up to the root certificate.

Fixed in 09aacc6e66554b841b613ddc0ed6091a39d29615.

I want too fast! It works with OpenSSL 1.1 but fails with OpenSSL 1.0.2. I'm investigating why...

Hmm, I guess I did not install something properly after switching to OpenSSL 1.0.2. After clean up and reinstall, it works fine in fact.

Looks great, thank you!
While looking at your commit [09aacc6](https://github.com/ghaderer/libmicrohttpd/commit/09aacc6e66554b841b613ddc0ed6091a39d29615) I think that the line 482 should not be ` if (NULL == info)` but rather ` if (NULL == info_sk)` am I correct?

You're right. I fixed that in a later commit. Thanks for reviewing!